<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngInit in Nested ngRepeats</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="modules/dist/app.min.js"></script>
</head>
<body ng-controller="MyController as vm">
<div ng-repeat="object in vm.objects" ng-init="homeIndex = $index">
    <div ng-repeat="box in object" ng-init="boxIndex = $index">
        <div ng-repeat="toy in box">
            <p>Toy Index: {{$index}}, Box Index: {{boxIndex}}, Object Index: {{homeIndex}}</p>
        </div>
    </div>
</div>
</body>
</html>